.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.75);
}

.overlay--after-open{
  opacity: 1;
}

.overlay--before-close{
  opacity: 0;
}

.content {
  text-align: center;
  margin: 10% auto;
  max-width: 500px;
}
